.hero {
    width: 100%;
    .col-3 {
        display: flex;
        align-items: center;

        img {
            max-height: 200px;
            width: auto;
            height: 100%;
        }

        &:first-of-type img {
            margin-right: auto;
        }

        &:last-of-type img {
            margin-left: auto;
            transform: scaleX(-1);
        }
    }
    .subtitle,.title {
        font-weight: 700;
    }
    .subtitle {
        font-size: 40px;
    }
    .title {
        font-size: 50px;
    }
    .buttons-wrapper {
        display: flex;
        justify-content: center;
        gap: 3px;
        a, form button {
            color: #FFFFFF;
            font-size: 20px;
            text-decoration: none;
            background: linear-gradient(to bottom, #00fbff, #0095ff, #0027ff);
            padding: 0 20px;
            outline: 1px solid #000000;
            border: none;
        }
    }
}
