.hero {
    width: 100%;
    .col-3 {
        display: flex;
        align-items: center;

        img {
            max-height: 200px;
            width: auto;
            height: 100%;
        }

        &:first-of-type img {
            margin-right: auto;
        }

        &:last-of-type img {
            margin-left: auto;
            transform: scaleX(-1);
        }
    }
    .subtitle,.title {
        font-weight: 700;
    }
    .subtitle {
        font-size: 40px;
    }
    .title {
        font-size: 50px;
    }
}
