.top-banner {
    text-align: center;
    font-size: 30px;

    .col-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'ChineseTakeaway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    img {
        max-height: 50px;
        height: 100%;
        width: auto;
    }
}
